/* BookList.module.css */
.buttons{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .bookList {
    list-style-type: none;
    padding: 0;
  }
  
  .bookItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .bookItem h3,
  .bookItem p {
    margin: 0;
    flex: 1;
    text-align: center;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .buttonDelete,
  .buttonEdit {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .buttonDelete {
    background-color: #e41b14;
    color: white;
  }
  
  .buttonDelete:hover {
    background-color: #c1130d;
  }
  
  .buttonEdit {
    background-color: #ffc107;
    color: white;
  }
  
  .buttonEdit:hover {
    background-color: #e0a800;
  }
  